/*Core Styles*/
html, body{
    font-family: 'Roboto', sans-serif !important;
}

h1{
    font-weight: 600 !important;
}

/*CSS Grid*/
.wrapper {
    display: grid;
    margin: 0;
    grid-template-columns:auto; 
    grid-template-rows: 10% 80% 10%;
}

.nav{
  grid-column: 1/2; 
  grid-row: 1/2;  
}

.container{
    grid-column: 1/2; 
    grid-row: 2/3; 
    display: grid;
    /* margin: 10px; */
    grid-template-columns:auto; 
    grid-template-rows: auto;
}

.primary{
    grid-column: 1/2; 
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
}

.primary>*, .secondary>*{
    padding: 0px 16px;
}

.title-p{
    grid-column: 1/2; 
    grid-row: 1/2;
}

.description-p{
    grid-column: 1/2; 
    grid-row: 2/3;
}

.subtitle-p{
    grid-column: 1/2; 
    grid-row: 3/4;
}

.explain{
    grid-column: 1/2; 
    grid-row: 4/5;
}

.explain #year{
    font-weight: 600;
    font-size: 1.2rem;
}

.slider{
    grid-column: 1/2; 
    grid-row: 5/6;
    /* display: flex;
    flex-wrap: wrap; */
}

.slider #slider{
    width: 100%;
}
.slider #tickmarks{
    width: 100%
}

.slider #yearTooltip{
    background: lightgray;
    padding: 8px;
    position: relative;
    bottom: 4px;
}

.button-play{
    margin-top:2rem;
    flex-basis: 100%
}

.map{
    grid-column: 2/3; 
    grid-row: 1/6;
    padding: 0 !important
}

.map #map,
.map #map-1990,
.map #map-1995,
.map #map-2000,
.map #map-2005,
.map #map-2010,
.map #map-2015,
.map #map-2019
{
    background-color: grey;
    height: 100%;
    width: 100%;
    display: none;
}

.secondary{
    grid-column: 1/2; 
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
}

.title-s{
    margin-top: 50px;
    grid-column: 1/3; 
    grid-row: 1/2;
}

.description-s{
    grid-column: 1/3; 
    grid-row: 2/3;
}

.parameters{
    grid-column: 1/2; 
    grid-row: 3/4;
}

.result{
    grid-column: 2/3; 
    grid-row: 3/4;
}

.footer{
    grid-column: 1/2; 
    grid-row: 3/4; 
}
